{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>404 - Page not found</h1>
    <p>Sorry, this page doesn't exist</p>
    <a href="/index.php?page=home">Home</a>
{% endblock %}