{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if posts is not empty %}
                        <ul class="list-group">
                            {% for post in posts %}
                                <li class="list-group-item">
                                    <h3><a href="/index.php?page=post&id={{ post.id }}">{{ post.title }}</a></h3>
                                    <p>{{ post.summary }}</p>
                                    <p><a href="/index.php?page=post&id={{ post.id }}">Read more</a></p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No articles found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}